<div class="max-w-2xl mx-auto py-16 px-4 sm:px-6 lg:max-w-7xl lg:px-8">
  <div class="text-2xl font-bold text-gray-700">Account</div>

  <div class="block md:flex gap-4">
    {% assign number_of_orders = customer.orders | size %}
    {% if number_of_orders > 0 %}
      <div class="w-full my-6 md:my-12">
        <h2 class="text-xl font-bold text-gray-700">
          Order History
        </h2>
        <div>
          {% paginate customer.orders by 12 %}
            {% for order in customer.orders %}
              <div class="border max-w-lg">
                <h3>{{ order.subtotal_price | money }}</h3>
              </div>
            {% endfor %}
          {% endpaginate %}
        </div>

      </div>
      <div class="h-full bg-red-500 w-1"></div>
      <div class="w-full">
        <h2>Details</h2>
      </div>

    {% endif %}
  </div>
</div>