<div class="max-w-2xl mx-auto py-16 px-4 sm:px-6 lg:max-w-7xl lg:px-8">
  <div class="text-2xl font-bold text-gray-700 text-center">Account</div>

  <div class="block md:flex gap-4">
    {% assign number_of_orders = customer.orders | size %}
      {% if number_of_orders > 0 %}
      <div class="w-full my-6 md:my-12">
        <h2 class="text-xl font-bold text-gray-700">
          Order History
        </h2>
        <div class="mt-6 grid grid-cols-1 gap-y-10 gap-x-6 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 xl:gap-x-8">
          {% paginate customer.orders by section.settings.number_of_orders_displayed %}
            {% for order in customer.orders %}
              <div class="border relative">
                <div class="w-full min-80 bg-gray-200 rounded-md overflow-hidden lg:h-80">
                  {% if order.line_items.first.image %}
                    <img
                      class="w-full h-full object-cover object-center"
                      src="{{ order.line_items.first.image | img_url: 'medium' }}"
                      alt="{{ order.line_items.first.image.alt }}">
                  {% endif %}

                </div>

              </div>
            {% endfor %}
          {% endpaginate %}
        </div>

      </div>

      {% comment %} <div class="w-full my-6 md:my-12">
      <h2 class="text-xl font-bold text-gray-700">Details</h2>
      </div> {% endcomment %}
    {% else %}
      <div class="w-full h-80 flex items-center justify-center">
        <h2 class="text-base md:text-2xl font-medium">
          You currently don't have any orders
        </h2>
      </div>
    {% endif %}
  </div>
</div>

{% schema %}
  {
    "settings": [
      {
        "type": "range",
        "default": 6,
        "id": "number_of_orders_displayed",
        "label": "Orders displayed",
        "min": 6,
        "max": 12,
        "step": 1,
        "info": "Adjust the number of order displayed per pagination page"
      }
    ]
  }
{% endschema %}