<div  class="h-full w-full flex items-center justify-center py-12 px-6 md:px-4 lg:px-8"> 
    <div class="flex flex-col justify-center w-full md:w-1/2 mt-8 border border-slate-200 p-5 shadow-md">
      <div>
        <h1 class="text-center text-3xl font-bold mt-6">Create account</h1>
      </div>
      {% form 'create_customer' %}
        {% if form.errors %}
          <div class="relative border border-red-400 bg-red-100 text-red-700 px-4 py-3" role="alert">
            <strong class="font-bold">Error</strong>
            <p class="block sm:inline">{{ form.errors | default_errors }}</p>
          </div>
        {% endif %}
        <div class="my-2 flex justify-center">
          <label for="first_name" class="sr-only">First Name</label>
          <input
            class="w-full md:w-1/2 relative block py-3 px-2 border"
            required
            id="first_name"
            placeholder="First Name"
            name="customer[first_name]"
            autocomplete="given-name"
            type="text">
        </div>
        <div class="my-2 flex justify-center">
          <label for="last_name" class="sr-only">Last Name</label>
          <input
            class="w-full md:w-1/2 relative block py-3 px-2 border"
            required
            id="last_name"
            placeholder="Last Name"
            name="customer[last_name]"
            autocomplete="family-name"
            type="text">
        </div>
        <div class="my-2 flex justify-center">
          <label for="birthdate" class="sr-only">Birthdate</label>
          <input
            class="w-full md:w-1/2 relative block py-3 px-2 border"
            required
            id="birthdate"        
            name="customer[note][birthdate]"
            type="date">
        </div>
        
        <div class="my-2 flex justify-center">
          <label for="email_address" class="sr-only">Email Adress</label>
          <input
            class="w-full md:w-1/2 relative block py-3 px-2 border"
            required
            id="email_address"
            placeholder="Email Address"
            name="customer[email]"
            autocomplete="email"
            type="email">
        </div>
        
        <div class="my-2 flex justify-center">
          <label for="password" class="sr-only">Password</label>
          <input
            class="w-full md:w-1/2 relative block py-3 px-2 border"
            id="password"
            required
            placeholder="Password"
            autocomplete="new-password"
            name="customer[password]"
            type="password">
        </div>

       <div class="flex justify-center mb-20">
         <button class="relative bg-blue-500 w-full md:w-1/2 px-3 py-4 text-sm font-medium text-white hover:bg-blue-700 mt-5" type="submit">Register</button>
        </div>
        
      {% endform %}
    </div>
  </div>
</div>